﻿@model DemoProject.Models.Employee
@{
    var UserRole = Session["UserRole"];
}
<h2>Update Employee</h2>


@if (UserRole.Equals("Admin")){

<form method="post" asp-controller="Employee" asp-action="Edit" asp-route-id="@Model.EmployeeId">

    <input type="hidden" name="EmployeeId" value="@Model.EmployeeId" />

    <div>
        <label for="name">Name</label>
        <input type="text" name="Name" id="name" value="@Model.Name" asp-for="Name" />
    </div>

    <div>
        <label for="department">Department</label>
        <input type="text" name="Department" value="@Model.Department" id="department" asp-for="Department" />
    </div>
    <div>
        <label for="Email">Department</label>
        <input type="email" name="Email" value="@Model.Email" asp-for="Email" />
    </div>
    <div>
        <label for="salary">Salary</label>
        <input type="number" name="Salary" value="@Model.Salary" id="salary" asp-for="Salary" />
    </div>

    <button type="reset">Clear</button>
    <button type="submit">Update</button>
</form>
            }else{
<h3>You are Not Authorized to access this page</h3>
}
<div>
    @Html.ActionLink("Logout", "Logout")
</div>

@Html.ActionLink("Back to List", "GetAllEmployees")