@using DemoProject.Models
@{
    ViewBag.Title = "Get All Employees";
}

<h2>Get All Employees</h2>

<table border="1" cellpadding="5" cellspacing="0">
    @Html.ActionLink("Add Employee", "CreateEmployee", null, new { @class = "btn btn-primary" })
    <thead>
        <tr>
            <th style="text-align: center;">EmployeeId</th>
            <th style="text-align: center;">Name</th>
            <th style="text-align: center;">Salary</th>
            <th style="text-align: center;">Department</th>
            <th style="text-align: center;">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var emp in ViewBag.Employees)
        {
            <tr>
                <td style="text-align: center;">@emp.EmployeeId</td>
                <td>@emp.Name</td>
                <td style="text-align: right;">@emp.Salary</td>
                <td>@emp.Department</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = emp.EmployeeId }) |
                    @using (Html.BeginForm("Delete", "Employee", new { id = emp.EmployeeId }, FormMethod.Post))
                    {
                        <button type="submit">Delete</button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
